# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\working\computer_vision\dice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
